.footer {
  display: flex;
  flex-direction: column;
}

.signIn-bg {
  background-color: rgb(105, 103, 103);
}

.signOut-bg {
  background-color: purple;
}

.footer .bottom {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 50px;
  gap: 25px;
  color: white;
}

.bottom .column-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 25px;
}

.bottom .column-two {
  display: flex;
  gap: 20px;
  padding: 25px;
  align-items: center;
  justify-content: space-around;
}

.column-two .right,
.column-two .left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.column-two .right p:nth-child(1),
.column-two .left p:nth-child(1),
.column-three p {
  font-size: 20px;
  font-weight: bold;
}

.column-three {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.column-three .input {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  border-radius: 5px;
}

.signOut-input-color {
  background-color: rgb(139, 65, 139);
}

.signIn-input-color {
  background-color: rgb(170, 170, 170);
}

.column-three .input input {
  background-color: transparent;
  border: none;
}
