body {
    background-color: #f0f0f0; /* Light grey background */
}

.nav-tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #660066; /* Updated to remove gold */
    color: #ffffff; /* Text color in nav */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-tabs li {
    padding: 10px 20px;
}

.nav-tabs li a {
    text-decoration: none;
    color: #ffffff; /* White text for links */
}

.nav-tabs li a:hover {
    background-color: #732d91; /* Darker purple on hover */
    border-radius: 5px;
}
