.navbar {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  padding: 15px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
}

.logo img {
  width: 75px;
  height: auto;
  object-fit: contain;
}

.nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: space-between;
}

.nav-links ul {
  list-style: none;
}

.nav-links ul li a {
  color: black;
}

.status {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
}

.status button {
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.status .sign-up {
  background-color: inherit;
  color: #667eea;
}

.status .log-in {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
}
