.receipts {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px 0px;
}

.receipts .nav {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 8px;
  background-color: purple;
}

.receipts .nav img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.receipts .nav p {
  font-size: 24px;
}

.receipts .transactions {
  display: flex;
  flex-direction: column;
}

.receipts .transactions .transaction {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(188, 188, 188); */
  padding: 30px 60px 30px 20px;
}

.receipts .transactions .transaction:hover {
  background-color: rgb(188, 188, 188);
  cursor: pointer;
}

.receipts .transaction p {
  font-size: 20px;
  line-height: 40px;
}

.receipts .transaction button {
  padding: 10px;
  width: 100px;
  font-size: 20px;
  background-color: green;
  color: white;
  border-radius: 8px;
  border: none;
}
