* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma;
}

a {
  text-decoration: none;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding-left: 250px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .main-content {
    padding-left: 0;
  }
}
