Global Styles body {
  background-color: #ffffff; /* Main background color */
  color: #000000; /* Main text color */
  font-family: Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3 {
  color: #660066; /* Primary color for headings */
}

.nav-tabs {
  background-color: #660066; /* Primary color for navigation */
  color: #ffffff; /* Text color in nav */
}

.button {
  background-color: #660066; /* Primary button color */
  color: #ffffff;
}

.button-success {
  background-color: #28a745; /* Green for success */
}

.button-warning {
  background-color: #dc3545; /* Red for warnings */
}

.secondary-text {
  color: #4d4d4d; /* Neutral gray for secondary text */
}

.light-purple {
  background-color: #f0f4ff; /* Modern light purple for backgrounds */
}

.gray-background {
  background-color: #444444; /* Dark gray for sections */
}
